body{
	overflow: hidden;
	background-color: #eee;
}
div.container{
	position: relative;
	top: 0;
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
}
header{

}
header img.logo{
	width: 45px;
	float: left;
	padding-right: .5em;
}
.logo object {
	display: inline-block;
	vertical-align: -0.5em;
	width: 10%;
	max-width: 134px;
	min-width: 45px;
}
header ul li{
	padding: 0 0 .25em;
}
header .logo {
	display: none;
}
section{
	height: 70%;
	margin: 13.5em 0 1em
}
section article{
	width: 90%;
	margin: 0 5%;
}
section article p{
	width: 70%;
	max-width: 914px;
	margin: 0 auto;
	padding: .65em 0;
}
section .work{
	width: 70%;
	max-width: 914px;
	margin: .5em auto 0;
}
section .work li{
	display: inline-block;
	padding: 0 .75em 0 0;
	margin-bottom: .4em;
}
section .button.resume{
	background: none;
	text-align: center;
	outline: none;
	border: 2px solid transparent;
	display: block;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	padding: 1em 0;
	line-height: 3;
	margin: 1em auto;
	box-sizing: border-box;
	transition: .2s all ease;
	-webkit-transition: .2s all ease;
	transform: scale(.85,.85);
}
section a.button.resume:hover{
	background: none;
	text-align: center;
	outline: none;
	border: 2px solid #864458;
	background: rgba(134, 68, 88, 0.35);
	border-radius: 50%;
	cursor: pointer;
	transform: scale(1.1,1.1);
}
footer{
	background: rgba(255,255,255,.05);
	position: fixed;
	bottom: 0;
	padding: 1.2rem;
	text-align: center;
	width: 100%;
}
@media screen and (max-height:780px){
	body {
		overflow-y: scroll;
	}
}
@media screen and (max-width:737px){
	body {
		overflow-x: hidden;
		overflow-y: scroll;
	}
	div.container{
		width: 100%;
		height: 100%;
	}
	header .logo {
		display: block;
		width: 100%;
		padding: 5%;
	}
	section{
		height: 100%;
		margin: 0 0 1em
	}
	section article{
		width: 100%;
		padding: 0 5% 5%;
		margin: 0 0 12.5%;
	}
	section article p{
		width: 90%;
		margin-left: 0;
		padding: .65em 0;
	}
	section article .logo {
		display: none;
	}
	section .work{
		width: 100%;
		margin: .5em auto 0;
	}
	section .work li {
		display: block;
		margin-bottom: .75em;
	}
	section .button.resume{
		background: none;
		text-align: center;
		outline: none;
		border: 1px solid transparent;
		display: block;
		border-radius: 50%;
		height: 85px;
		width: 85px;
		padding: 1em;
		line-height: 4;
		margin: 1em auto;
		box-sizing: border-box;
		transition: .2s all ease;
		-webkit-transition: .2s all ease;
		transform: scale(.85,.85);
	}
	footer {
		position: relative;
	}
}