@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,700,700i,900');

/* Grabbed CRT Effect from https://codepen.io/lbebber/full/XJRdrV/ */
/*brown 4F3514*/
/*purple 281D39*/
/*cream FBCB9A*/
/*pink 744594*/
/*blue 89c4f4*/

/* BEGIN Global */
html {
	font-size: 18px;
	font-size: calc(18px + .075vw);
	min-height: 360px;
	overflow: hidden;
}

.custom-cursor,
.custom-cursor a:hover,
.custom-cursor a:active,
.custom-cursor a:focus,
.custom-cursor *, 
.custom-cursor *:hover, 
.custom-cursor *:active, 
.custom-cursor *:focus {
	cursor: none;
}

.hidden {
	display: none;
	visibility: hidden;
	opacity: 0;
}

::selection {
	color: #FBCB9A;
	background: #744594;
}

/* BEGIN Scroll bar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent; 
}
 
::-webkit-scrollbar-thumb {
    background: #FBCB9A; 
}

::-webkit-scrollbar-thumb:hover {
    background: #ce9358;
}

body {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	color: #281D39;
	line-height: 1.6;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	/*border: 20px solid #FBCB9A;*/
	background-color:  #4F3514;
	min-height: 360px;
	overflow-y: scroll;
	overflow-x: hidden;
}

strong {
	font-weight: 700;
	color: #89c4f4;
}

em {
	font-style: italic;	
}

a {
	color: #FBCB9A;
	text-decoration: underline;
	text-decoration-color: #89c4f4;
	text-underline-position: under;
	display: inline;
	position: relative;	
	transition: .4s ease color;
	will-change: color;
}

a:hover, a:active {
	color: #89c4f4;
}

h2, h3 {
	text-transform: uppercase;
}

h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: 900;
	line-height: 1;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 2.6rem;
}

h5 {
	font-size: 2rem;
}

h6 {
	font-size: 1.4rem;
}

p, ul, ol {
	color: #FBCB9A;
	font-weight: 400;
	margin: 0 0 0.6rem;
	font-size: 1.12rem;
	letter-spacing: -0.03em;
	counter-reset: listCounter;
}

ul li, ol li {
	margin: 4px 0px;
}

.small-caps {
	color: #89c4f4;
	text-transform: uppercase;
	font-weight: 700;
	font-size: .8em;
	letter-spacing: .02em;
}

blockquote {
	border-top: 1px solid #89c4f4;
	border-bottom: 1px solid #89c4f4;
	padding: 24px;
	margin: 16px 0;
}

blockquote p {
	font-weight: 900;
	font-family: 'Arial', sans-serif;
	letter-spacing: .08em;
}

button, .button {
	display: inline-block;
    background-color: #89c4f4;
    border: 4px solid transparent;
    outline: none;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: #281D39;
    padding: 8px 24px;
    margin: 0 auto 4px;
    transition: .25s ease-in-out all;
    cursor: pointer;
    will-change: color, border, background-color;
}

button:after, .button:after {
	content: '';
	width: 80%;
	margin: auto;
	position: absolute;
	height: 4px;
	opacity: 0;
	background-color: rgba(0,0,0,0.2);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
	border-radius: 50%;
	left: 10%;
	bottom: 0;
	transition: .25s ease-in-out all;
}

button:hover, .button:hover{
	color: #89c4f4;
	border: 4px solid #89c4f4;
	background-color: transparent;
}

/* BEGIN Container */
.container {
	width: 100vw;
	height: auto;
	padding: 48px;
	box-sizing: border-box;
	position: relative;
	min-height: 100%;
	animation: flicker 0.15s infinite;
}

.screen-on .container {
	animation: screenOn 4s linear;;
	animation-fill-mode: forwards;
}

.screen-off {
	background: #111;
}

.screen-off .container{
	animation: screenOff 0.55s cubic-bezier(0.23, 1, 0.32, 1);
	animation-fill-mode: forwards;
}

.container:after, #dumb-cursor:after {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(18, 16, 16, 0.1);
	opacity: 0;
	z-index: 2;
	pointer-events: none;
}

.container:before, #dumb-cursor:before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
	z-index: 2;
	background-size: 100% 2px, 3px 100%;
	pointer-events: none;
}

.home.container {
	height: 100vh;
	min-height: 380px;
	overflow: hidden;
}

/* BEGIN Header */
header {
	height: 52px;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding: 8px 48px;
	z-index: 10;
}

/* BEGIN Logo */
.logo-container {
	position: relative;
}
.logo-container .logo{
	display: flex;
	align-items: center;
}

.logo-container .logo .logo-text {
	font-size: 2rem;
	font-weight: 900;
	letter-spacing: -0.05em;
	margin: 0 8px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}

.logo-container .self-description {
	color: #281D39;
	font-size: .65rem;
	font-weight: 700;
	text-transform: uppercase;
	position: absolute;
	left: 92px;
	top: 40px;
	width: 200px;
}

/* BEGIN Nav */
nav ul li {
	display: inline-block;
	margin: 4px 16px;
}

nav ul li a {
	font-size: 1.2rem;
	font-weight: 900;
	letter-spacing: 0;
	color: #FBCB9A;
	text-decoration: none;
	display: inline;
	position: relative;	
	transition: .4s ease color;
	will-change: color;
}

nav ul li a:after {
	content: '';
	width: 110%;
	height: 10%;
	background-color: #89c4f4;
	display: block;
	position: absolute;
	left: -5%;
	bottom: 4px;
	z-index: -1;
	will-change: bottom, height;
	transition: height .2s .35s, bottom .2s;
}

nav ul li a:hover,
nav ul li a:active {
	color: #281D39;
}

nav ul li a:hover:after, 
nav ul li a:active:after, 
nav ul li a:visited:after {
	height: 100%;
	bottom: 0;
	/*animation-name: navHover;*/
    animation-duration: .35s;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

/* BEGIN Container */
.background-container{
	height: 100%;
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.sleepy-container {
	margin-top: 80px;
	position: relative;
	z-index: 10;
}

.sleepy-container > * {
    display: block;
}	

.sleepy-container > *,
.sleepy-container .small-caps,
.sleepy-container > * a{
	/*color: #281D39;*/
}

.sleepy-container button {
    margin-top: 16px;
}

.container:not(.home) .sleepy-container {
	display: none;
	visibility: hidden;
	opacity: 0;
}

/* BEGIN Content */
.content-container {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 1420px;
}

.content {
	margin-top: 16px;
	display: flex;
	width: 100%;
}

.content .left-column{
	width: calc((100%/3) * 2);
	box-sizing: border-box;
	padding-right: 10%;
}

.content .right-column {
	width: calc(100%/3);
}

.content .right-column p,
.content .right-column ul li {
	font-size: .75em;
}

.content ul li:before {
    content: "\25A0";
    color: #89c4f4;
}

.content ol li:before {
	counter-increment: listCounter;
	content: counter(listCounter,decimal-leading-zero);
	color: #89c4f4;
	font-size: 0.65em;
	letter-spacing: 0.06em;
	font-weight: 700;
}

.content ul li:before,
.content ol li:before {
	margin-right: 24px;
}

/* BEGIN animation container */
.animation-container {
	width: 100%;
	max-width: 280px;
	position: absolute;
	transition: .5s all ease;
}

.animation-container > * {
	width: 100%;
	height: 100%;
}

.animation-container > * svg {
	width: 100%;
	height: auto;
	text-align: center;
	position: absolute;
	bottom: 0;
	padding-top: 16px;
}

.animation-container > *.hidden {
	visibility: hidden;
	opacity: 0;
}

.container:not(.home) .animation-container {
	opacity: 0;
}

footer {
	font-size: .85em;
	color: #FBCB9A;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	padding: 16px 48px 24px;
	position: absolute;
	justify-content: space-between;
}

.container.home footer {
	position: absolute;
}

@media screen and (max-width: 1024px), screen  and (max-height: 889px) {
	.container:not(.home) footer {
		position: relative;
	}
}

footer > * {
    width: 33.3%;
    width: calc(100%/3);
}

footer .tiny-text {
	font-size: .9em;
}

footer .self-description {
	display: none;
}

footer .footer-not-social{
	text-align: right;
}

footer .footer-email {
    text-align: center;
}

body:not(.ready) .sleepy-container,
body:not(.ready) .sleepy-container button{
	opacity: 0;
	visibility: hidden;
}

/* BEGIN animations */
.ready .sleepy-container p > * {
	will-change: opacity, transform;
	display: inline-block;
	animation-name: fadeIn;
    animation-duration: .45s;
    animation-fill-mode: backwards;
}

.ready .sleepy-container p > *:nth-child(1){
	animation-delay: .2s;
}

.ready .sleepy-container p > *:nth-child(2){
	animation-delay: .4s;
}

.ready .sleepy-container p > *:nth-child(3){
	animation-delay: .6s;
}

@keyframes fadeIn {
    from {
    	opacity: 0;
    	transform: translateY(-24px);
    }
    to {
    	opacity: 1;
    	transform: translateY(0);
    }
}

@keyframes screenOn {
	0% {
		transform: scale(1, 0.8) translate3d(0, 0, 0);
		-webkit-filter: brightness(30);
		filter: brightness(30);
		opacity: 1;
	}
	3.5% {
		transform: scale(1, 0.8) translate3d(0, 100%, 0);
	}
	3.6% {
		transform: scale(1, 0.8) translate3d(0, -100%, 0);
		opacity: 1;
	}
	9% {
		transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
		-webkit-filter: brightness(30);
		filter: brightness(30);
		opacity: 0;
	}
	11% {
		transform: scale(1, 1) translate3d(0, 0, 0);
		-webkit-filter: contrast(0) brightness(0);
		filter: contrast(0) brightness(0);
		opacity: 0;
	}
	100% {
		transform: scale(1, 1) translate3d(0, 0, 0);
		-webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
		filter: contrast(1) brightness(1.2) saturate(1.3);
		opacity: 1;
	}
}

@keyframes screenOff {
	0% {
		transform: scale(1, 1.3) translate3d(0, 0, 0);
		-webkit-filter: brightness(1);
		filter: brightness(1);
		opacity: 1;
	}
	60% {
		transform: scale(1.3, 0.001) translate3d(0, 0, 0);
		-webkit-filter: brightness(10);
		filter: brightness(10);
	}
	100% {
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		transform: scale(0, 0.0001) translate3d(0, 0, 0);
		-webkit-filter: brightness(50);
		filter: brightness(50);
	}
}

@keyframes flicker {
  0% {
    opacity: 0.20219;
  }
  5% {
    opacity: 0.78324;
  }
  10% {
    opacity: 0.50422;
  }
  15% {
    opacity: 0.52407;
  }
  20% {
    opacity: 0.8819;
  }
  25% {
    opacity: 0.48316;
  }
  30% {
    opacity: 0.25176;
  }
  35% {
    opacity: 0.8827;
  }
  40% {
    opacity: 0.40933;
  }
  45% {
    opacity: 0.37424;
  }
  50% {
    opacity: 0.70732;
  }
  55% {
    opacity: 0.98635;
  }
  60% {
    opacity: 0.30069;
  }
  65% {
    opacity: 0.17694;
  }
  70% {
    opacity: 0.36621;
  }
  75% {
    opacity: 0.71441;
  }
  80% {
    opacity: 0.70956;
  }
  85% {
    opacity: 0.56423;
  }
  90% {
    opacity: 0.49707;
  }
  95% {
    opacity: 0.86186;
  }
  100% {
    opacity: 0.09159;
  }
}

/* BEGIN Media Queries */
/* BEGIN Small Desktop */
@media screen and (max-width: 1024px) {
	/* BEGIN Global */
	h2 {
		font-size: 3rem;
	}

	h3 {
		font-size: 2rem;
	}

	h4 {
		font-size: 1.6rem;
	}

	h5 {
		font-size: 1rem;
	}

	h6 {
		font-size: .8rem;
	}

	p, ul, ol {
		font-size: 1rem;
	}

	/* BEGIN Container */
	.container {
		padding: 16px;
	}

	header {
		padding: 8px 16px;
	}

	.logo-container {
		position: relative;
		margin: 0 auto;
		max-width: 230px;
		width: 100%;
	}

}

/* BEGIN Mobile */
@media screen and (max-width: 812px) {
	/* BEGIN Global */
	h2 {
		font-size: 8.7vw;
	}

	h3 {
		font-size: 6.6vw;
	}

	h4 {
		font-size: 5.4vw;
	}

	h5 {
		font-size: 4.3vw;
	}

	p, ul, li {
		font-size: 4.3vw;
	}

	/* BEGIN Header */
	header {
		position: relative;
	}
	/* BEGIN Content */
	.content-container {
		margin-bottom: 80px;
	}

	.content-container .content {
		display: block;
	}

	.content .left-column,
	.content .right-column {
		width: 100%;
		padding: 0;
	}

	/* BEGIN Footer */
	footer {
		padding: 0 16px 24px;
		font-size: 10px;
		display: grid;
		flex-direction: column;
		justify-content: unset;
		grid-template-areas: 
			"header header"
			"email not-social";
		grid-template-columns: 50% 50%;
		justify-items: stretch;
	}

	footer .footer-logo {
		grid-area: header;
	    width: 100%;
	}

	footer .footer-email{
		grid-area: email;
		text-align: left;
	}

	footer .footer-not-social {
		grid-area: not-social;
	}

	footer .footer-email,
	footer .footer-not-social {
		width: 100%;
	}
}

@media screen and (max-width: 480px) {
	footer .footer-not-social br {
		display: none;
	}
}

#dumb-cursor {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 32px;
	width: 32px;
	background: red;
	z-index: 1000;
}

#dumb-cursor.hidden {
	display: none;
	opacity: 0;
	visibility: hidden;
}