@import url('http://fonts.googleapis.com/css?family=Lato:400,900,400italic,900italic');
@font-face {
    font-family: 'Patua One';
    src: url('fonts/patuaone.otf');
}

/*
Colors:
orange ff4919
light grey 676767
dark grey c0c0c0
white efefef
purple 864458
*/

body{
	font-size: 100%;
}
a{
	color: #864458;
	text-decoration: none;
    border-bottom: 2px solid rgba(134, 68, 88, 0.35);
}
a:hover{
	border-bottom: 2px solid #864458;
}
header .logo-type, header .employment-status{
	font-family: 'Patua One', serif;
}
header .logo-type{
	text-transform: uppercase;
	font-size: 1.15rem;
}
header .employment-status{
	color: #c0c0c0;
	font-size: .9rem;
}
div.container{
	font-family: 'Patua One', serif;
	color: #864458;
}
section article h1{
	text-align: center;
	font-size: 6vw;
	padding-bottom: .5em;
}
section article p{
	font-size: 1.15rem;
}
article p, footer, footer a{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
article p{
	line-height: 1.43;
}
article p strong{
	font-weight: 900;
}
section a.button.resume{
	font-family: 'Lato', sans-serif;
	color: #864458;
	font-weight: 900;
	font-size: 1.25rem;
	text-transform: uppercase;	
}
section a.button.resume:hover{
	color: #864458;
}
footer ul li, footer a{
	color: #864458;
}
@media screen and (min-width: 1514px){
	section article h1 {
		font-size: 5.65rem;
	}
}
@media screen and (max-width:737px){
	section article h1{
		text-align: left;
		font-size: 1.8rem;
		padding-bottom: .5em;
	}
	section article p{
		font-size: 1rem;
	}
	section a.button.resume{
		font-family: 'Lato', sans-serif;
		font-weight: 900;
		font-size: 0.8rem;
		line-height: 4.5;
		text-transform: uppercase;	
	}
}
@media screen and (max-width: 320px){
	section article h1 {
		font-size: 1.2rem;
	}
}