@import url('http://fonts.googleapis.com/css?family=Lato:400,900,400italic,900italic');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900');

/*brown 4F3514*/
/*purple 281D39*/
/*cream FBCB9A*/
/*pink 744594*/
/*blue 89c4f4*/

::selection {
	color: #FBCB9A;
	background: #744594;
}

body {
	font-size: 18px;
	font-family: 'Titillium Web';
	font-weight: 400;
	color: #281D39;
	line-height: 1.6;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	/*border: 20px solid #FBCB9A;*/
	background-color: #4F3514;
	overflow-x: hidden;
}

/*body.ready {
	background-color: #4F3514;;
}*/

strong {
	font-weight: 600;
	color: #89c4f4;
}

em {
	font-style: italic;	
}

a {
	color: #FBCB9A;
	text-decoration: underline;
	text-decoration-color: #89c4f4;
	text-underline-position: under;
	display: inline;
	position: relative;	
	transition: .4s ease color;
}

a:hover, a:active {
	color: #89c4f4;
}

h2, h3 {
	text-transform: uppercase;
}

h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: 900;
	line-height: 1;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 2.6rem;
}

h5 {
	font-size: 2rem;
}

h6 {
	font-size: 1.8rem;
}

.small-caps {
	color: #89c4f4;
	text-transform: uppercase;
	font-weight: 700;
	font-size: .8em;
	letter-spacing: .02em;
}

blockquote {
	border-top: 1px solid #89c4f4;
	border-bottom: 1px solid #89c4f4;
	padding: 24px;
	margin: 16px 0;
}

blockquote p {
	font-weight: 900;
	font-family: 'Lato';
	letter-spacing: .08em;
}

/* BEGIN Container */
.home.container {
	height: 100%;
}

.container {
	width: 100vw;
	/*height: 100vh;*/
	height: auto;
	padding: 48px;
	box-sizing: border-box;
	/*border: 1rem solid #FBCB9A;*/
	position: relative;
}

/* BEGIN Header */
header {
	height: 52px;
	margin-bottom: 48px;
	display: flex;
	justify-content: space-between;
}

/* BEGIN Logo */
.logo-container {
	position: relative;
}
.logo-container .logo{
	display: flex;
	align-items: center;
}

.logo-container .logo .logo-text {
	font-size: 2rem;
	font-weight: 900;
	letter-spacing: -0.05em;
	margin: 0 8px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}

.logo-container .self-description {
	font-size: .65rem;
	font-weight: 700;
	text-transform: uppercase;
	position: absolute;
	left: 92px;
	top: 48px;
	width: 200px;
}

/* BEGIN Nav */
nav ul li {
	display: inline-block;
	margin: 4px 16px;
}

nav ul li a {
	font-size: 1.2rem;
	font-weight: 900;
	letter-spacing: 0;
	color: #FBCB9A;
	text-decoration: none;
	display: inline;
	position: relative;	
	transition: .4s ease color;
}

nav ul li a:after {
	content: '';
	width: 110%;
	height: 10%;
	background-color: #89c4f4;
	display: block;
	position: absolute;
	left: -5%;
	bottom: 4px;
	z-index: -1;
	transition: .25s ease all;
}

nav ul li a:hover,
nav ul li a:active {
	color: #281D39;
}

nav ul li a:hover:after, 
nav ul li a:active:after, 
nav ul li a:visited:after {
	bottom: 0;
	height: 100%;
}

/* BEGIN Content */
.home-intro {
	/*position: absolute;
	top: 20%;
	left: 12.5%;
	width: 940px;*/
}

section {
	margin-top: 40px;
}

.hero-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /*height: 100%;*/
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

p, ul, ol {
	color: #FBCB9A;
	font-weight: 400;
	margin: 1.2rem 0;
	font-size: 1.4rem;
	letter-spacing: -0.03em;
	counter-reset: listCounter; 
}

ul li, ol li {
	margin: 4px 0px;
}

.content {
	position: relative;
	height: 100%;
	width: 100%;
	height: calc(100% - 100px);
}

.content ul li:before {
    /*content: "■";*/
    content: "\25A0";
    color: #89c4f4;
}

.content ol li:before {
	counter-increment: listCounter;
	content: counter(listCounter,decimal-leading-zero);
	color: #89c4f4;
	font-size: 0.65em;
	letter-spacing: 0.06em;
	font-weight: 700;
}

.content ul li:before,
.content ol li:before {
	margin-right: 24px;
}

/*.content .body-group {
    width: 50%;
}*/

/*.content .body-group {
    width: 100%;
    max-width: 600px;
    position: absolute;
    bottom: 10%;
    right: 10%;
}

.content .header-group {
    position: absolute;
    top: 24%;
    left: 7%;
}*/

/* BEGIN Jiggie Container */
.jiggie-container {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	z-index: -2;
}

.jiggie-container .jiggie-man {
	z-index: -2;
    position: absolute;
    right: 15%;
    /*transform: scale(3,3);*/
}

.jiggie-container iframe {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -2;
}

.jiggie-container .jiggie-man .fa {
	font-size: 60rem;
	position: absolute;
	right: 0;
	bottom: 0;
	line-height: 0.6;
	z-index: -1;
	opacity: 0.3;
}

.button-container {
    position: absolute;
    right: 20%;
    bottom: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button-container button {
    background-color: #89c4f4;
    border: 4px solid transparent;
    outline: none;
    font-family: 'Lato';
    text-transform: uppercase;
    font-weight: 900;
    color: #281D39;
    padding: 8px 24px;
    margin-bottom: 4px;
    transition: .25s ease-in-out all;
    cursor: pointer;
}

.button-container button:after {
	content: '';
	width: 80%;
	margin: auto;
	position: absolute;
	height: 4px;
	opacity: 0;
	background-color: rgba(0,0,0,0.2);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
	border-radius: 50%;
	left: 10%;
	bottom: 0;
	transition: .25s ease-in-out all;
}

.button-container button:hover {
	color: #FBCB9A;
	border: 4px solid #FBCB9A;
	background: transparent;
	transform: translateY(-12px);
}

.button-container button:hover:after {
	bottom: -20px;
	opacity: 1;
}

.button-container {
	font-size: .85rem;
	text-align: center;
}

.animation-container {
	width: 100%;
	max-width: 280px;
	height: auto;
	position: absolute;
	/* visibility: hidden; */
}

.animation-container > * {
	/* height: 100%; */
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.animation-container > * svg {
	width: 100%;
	height: auto;
	text-align: center;
	position: absolute;
	bottom: 0;
	padding-top: 16px;
}

.animation-container > *.hidden {
	display: none;
	visibility: hidden;
}

/*body:not(.ready) .logo-container,
body:not(.ready) nav{
	opacity: 0;
	visibility: block;
}*/

footer {
	padding: 24px;
	background-color: #281D39;
	text-align: center;
}

footer p {
	font-size: .85em;
}

footer {
    background-color: rgba(40, 29, 57,0.65);
    text-align: center;
    position: absolute;
    width: 100%;
}

footer .tiny-text {
	font-size: .9em;
}